<div class="vue-html5-editor" :class="{'full-screen':fullScreen}">
    <div class="toolbar" ref="toolbar" @click="showSelection">
        <ul>
            <template v-for="module in modules">
                <li :title="locale[module.i18n]" @click="activeModule(module)">
                    <span class="icon" :class="module.icon"></span>
                    <template v-if="showModuleName === undefined ? defaultShowModuleName : showModuleName">
                        &nbsp;{{locale[module.i18n]}}
                    </template>
                </li>
            </template>
        </ul>
        <div class="dashboard" v-show="dashboard" ref="dashboard">
            <keep-alive>
                <div v-show="dashboard" :is="dashboard" :data="dashboardData"></div>
            </keep-alive>
        </div>
    </div>
    <div class="content" ref="content" :style="contentStyle"
         contenteditable @click="toggleDashboard(dashboard)"
         @paste="clearFormat">
    </div>
</div>