user  nginx;
worker_processes  5;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format auth_header 'NGINX: [$time_local] "$request" from:"$remote_addr $http_x_forwarded_for" '
                      'ret:"code:$status size:$body_bytes_sent" info:[$http_referer][$http_user_agent]';

    access_log /dev/null;

    sendfile        on;

    keepalive_timeout  1000;

    client_max_body_size 100M;

    limit_req_zone  $binary_remote_addr  zone=req_one:10m rate=150r/s;

    server {
        access_log /var/log/nginx/access.log auth_header;
        proxy_max_temp_file_size 0;
        listen 80;
        listen [::]:80;
        set $appid "";
        set $user_id "";
        set $auth_cookie "";
        if ($http_cookie ~* "appid=([a-z0-9]+)(?:;|$)") {
            set $appid $1;
        }

        if ($http_cookie ~* "userid=([.%\-a-zA-Z0-9_]+)(?:;|$)") {
            set $user_id $1;
        }

        if ($http_authorization != "") {
            set $auth_cookie $http_authorization;
        }
        if ($http_x_userid != "") {
            set $user_id $http_x_userid;
        }

        location /stats {
            proxy_pass http://${REMOTE_IP};
        }
        location /admin {
            proxy_pass http://${REMOTE_IP};
        }
        location /php {
            proxy_pass http://${REMOTE_IP};
        }
        location /Files {
            proxy_pass http://${REMOTE_IP};
        }
        location /auth {
            proxy_pass http://${REMOTE_IP};
        }
        location /BF {
            proxy_pass http://${REMOTE_IP};
        }
        location /api {
            proxy_set_header Authorization $auth_cookie;
            proxy_set_header X-Appid $appid;
            proxy_set_header X-UserID $user_id;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://${SELF_IP}:8181;
        }
        location / {
            proxy_pass http://${SELF_IP}:8080;
        }
    }
}
